<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <title>Title</title>
</head>
<body class="company">
<!-- -------------------------- Header ------------------------------------ -->
<header class="header">
    <h1>
        For Mad'Resten!
    </h1>
    <h3>Frontlinien i kampen mod madspild..</h3>
    <hr>
    <nav>
        <a href="index">Home</a>
        <a href="form">Skriv et opslag</a>
        <a href="dashboard">Opslagstavlen</a>
    </nav>
    <hr>
</header>
<!-- --------------------------------- Flexbox ------------------------------- -->
<div id="company-flex"> <!-- flex parent div ---------------- -->
    <div id="company-flex-child1"> <!-- Flexbox child div 1 ---------- -->

    </div>
    <div id="comoany-flex-child2">

    </div>
    <div id="company-flex-child3">

    </div>
</div>
<!-- ---------------------------- Footer ------------------------------ -->
<footer id="foot">
    <hr>
    <nav>
        <a href="index">Home</a>
        <a href="form">Skriv et opslag</a>
        <a href="dashboard">Opslagstavlen</a>
    </nav>
    <hr>

    <div id="foot-text">
        <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert •  •</p>
    </div>
</footer>
</body>
</html>