<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <title>Title</title>
</head>
<body class="company">
<header class="header">
    <h1>
        For Mad'Resten!
    </h1>
    <h3>Frontlinien i kampen mod madspild..</h3>
    <hr>

    <nav class="header-nav">
        <a href="index">Home</a>
        <a href="form">Skriv et opslag</a>
        <a href="dashboard">Opslagstavlen</a>
    </nav>
    <hr>
</header>












    <hr>
    <footer class="footer">
        <hr>
        <nav class="footer-nav">
            <a href="index">Home</a>
            <a href="form">Skriv et opslag</a>
            <a href="dashboard">Opslagstavlen</a>
        </nav>
        <hr>
        <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert •  •</p>
    </footer>
</body>
</html>