<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <title>opslagstavlen</title>

</head>
<body id="dashboard">

    <header class="fixed-header">
    <h1 align="center">For Mad'Resten</h1>
    <hr>
    <nav>
        <a href="index">Home</a>
        <a href="form">Skriv et opslag</a>
        <a href="dashboard">opslagstavlen</a>
    </nav>
    <hr>
    <h2>Opslagstavlen</h2>
    </header>


    <div th:each="dashboard : ${dashboardposts}">
        <p th:text="${dashboard.getPostname()}"></p>
        <p th:text="${dashboard.getFirstname()}"></p>
        <p th:text="${dashboard.getLastname()}"></p>
        <p th:text="${dashboard.getDate()}"></p>
        <p th:text="${dashboard.getPostarea()}"></p>
    </div>



    <footer class="fixed-footer">
    <hr>
    <nav>
        <a href="index">Home</a>
        <a href="form">Skriv et opslag</a>
        <a href="dashboard">opslagstavlen</a>
    </nav>
    <hr>  <!-- Defines a thematic change in the content -->
    <div>  <!-- 	Defines a section in a document -->
        <small><p align="center">•  Copyright ☺ 2021 All rights reserved - Mathias - Jesper - Robert  •</p></small>
    </div>
    </footer>
</body>
</html>