<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>opslagstavlen</title>
</head>
<body>
<header>
    <h1>For Mad'Resten</h1>
    <nav>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="form">Skriv et opslag</a></li>
            <li><a href="opslagstavlen">opslagstavlen</a></li>
        </ul>
    </nav>
    <hr>

    <h2>Opslagstavlen</h2>
</header>
<h2>Your dashboard</h2>
<div th:each="event : ${events}">
    <p th:text="${event.getPost()}"></p>
    <p th:text="${event.getFirstname()}"></p>
    <p th:text="${event.getLastname()}"></p>
    <p th:text="${event.getDate()}"></p>
    <p th:text="${event.getPost-name()}"></p>











<hr>
<footer>
    <nav>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="form">Skriv et opslag</a></li>
            <li><a href="opslagstavlen">opslagstavlen</a></li>
        </ul>
    </nav>
    <hr>  <!-- Defines a thematic change in the content -->
    <div>  <!-- 	Defines a section in a document -->
        <p align="center">Copyright ☺ (c) ☺ 2021 All rights reserved. Mathias - Jesper - Robert.</p>
    </div>
</footer>
</body>
</html>