<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet/style.css">
    <title>Opslagstavlen</title>
</head>
<body class="dashboard">
<header class="header">
    <h1>
        For Mad'Resten!
    </h1>
    <h3>Frontlinien i kampen mod madspild..</h3>
    <hr>
    <nav>
        <a href="index">Home</a>
        <a href="form">Skriv et opslag</a>
        <a href="dashboard">Opslagstavlen</a>
    </nav>
    <hr>
</header>
<div id="dashboard-page">
    <h1>
        OpslagsTavlen..
    </h1>
    <p>Samlingsstedet for gode ideer til en bedre udnyttelse af vores alles fødevarer</p>
</div>
<div th:each="dashboard : ${dashboardposts}">
    <p th:text="${dashboard.getPostname()}"></p>
    <p th:text="${dashboard.getFirstname()}"></p>
    <p th:text="${dashboard.getLastname()}"></p>
    <p th:text="${dashboard.getDate()}"></p>
    <p th:text="${dashboard.getPostarea()}"></p>
</div>
<footer id="foot">
    <hr>
    <nav>
        <a href="index">Home</a>
        <a href="form">Skriv et opslag</a>
        <a href="dashboard">Opslagstavlen</a>
    </nav>
    <hr>

    <div id="foot-text">
        <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert •  •</p>
    </div>
</footer>
</body>
</html>