<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <title>Title</title>
</head>
<body>

    <header id="error">
        <nav>
            <p >
            <h1>For Mad'Resten</h1>
            <h3>Noget gik galt</h3>
            <h4>Vi tager en tur mere</h4>
            <a href="index">Home</a>
            </p>
        </nav>
    </header>





    <hr>
    <footer>
        <nav>
            <a href="index">Home</a>
            <a href="form">Skriv et opslag</a>
            <a href="dashboard">opslagstavlen</a>
        </nav>
        <hr>  <!-- Defines a thematic change in the content -->
        <div>  <!-- 	Defines a section in a document -->
            <p align="center">••••• Copyright ☺ 2021 All rights reserved - Mathias • Jesper • Robert •••••</p>
        </div>
    </footer>
</body>
</html>




