<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="form">Skriv et opslag</a></li>
            <li><a href="opslagstavlen">opslagstavlen</a></li>
        </ul>
    </nav>
    <hr>
    <h1>For Mad'Resten</h1>
    <h2>Forbrugeren</h2>
</header>













<hr>
<footer>
    <nav>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="form">Skriv et opslag</a></li>
            <li><a href="opslagstavlen">opslagstavlen</a></li>
        </ul>
    </nav>
    <hr>  <!-- Defines a thematic change in the content -->
    <div>  <!-- 	Defines a section in a document -->
        <p align="center">Copyright ☺ (c) ☺ 2021 All rights reserved. Mathias - Jesper - Robert.</p>
    </div>
</footer>
</body>
</html>