<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="form">Skriv et opslag</a></li>
            <li><a href="opslagstavlen">opslagstavlen</a></li>
        </ul>
    </nav>
    <hr>
    <h1>For Mad'Resten</h1>
    <h2>Forbrugeren</h2>
</header>













<hr>
<footer>
    <nav>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="form">Skriv et opslag</a></li>
            <li><a href="opslagstavlen">opslagstavlen</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>