<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <title>form</title>
</head>
<body class="form">

<header class="header">
    <h1>
        For Mad'Resten!
    </h1>
    <h3>Frontlinien i kampen mod madspild..</h3>
    <hr>

    <nav class="header-nav">
        <a href="index">Home</a>
        <a href="form">Skriv et opslag</a>
        <a href="dashboard">Opslagstavlen</a>
    </nav>
    <hr>
</header>
    <form action="/submitform" method="post">
        <ul> <!-- firstnames and larstnames -->
            <li><label for="firstname">Fornavn</label></li>
                <input type="text" name="firstname" id="firstname">
            <li><label for="lastname">Efternavn</label></li>
                <input type="text" name="lastname" id="lastname">
            <!-- email -->
            <li><label for="email">Email adresse</label></li>
                <input type="email" name="email" id="email">
            <!-- date -->
            <li><label for="date">Dato</label></li>
                <input type="date" id="date" name="date">
            <!-- postname -->
            <li><label for="postname">Overskrift på forslaget</label></li>
                <input type="text" name="postname" id="postname">
            <!-- textarea -->
            <li><label for="postarea">Deres forslag <small>(skal overholde givne regler for forslag til opslagstavlen)</small></label> </li>
            <textarea name="postarea" id="postarea" cols="80" rows="10">Skriv deres forslag her:</textarea><br>
            <!-- button -->
            <input type="submit" name="submit" id="submit">
        </ul>
    </form>











    <hr>
<footer class="footer">
    <hr>
    <nav class="footer-nav">
        <a href="index">Home</a>
        <a href="form">Skriv et opslag</a>
        <a href="dashboard">Opslagstavlen</a>
    </nav>
    <hr>
    <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert •  •</p>
</footer>
</body>
</html>