<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <meta charset="UTF-8">
    <title>For Mad Resten</title>

</head>

<body id="home">
    <header>
        <h1 align="center">
            For Mad'Resten
        </h1>
        <hr>
        <nav>
            <a href="index">Home</a>
            <a href="form">Skriv et opslag</a>
            <a href="dashboard">opslagstavlen</a>
        </nav>
        <hr>
    </header>

    <section class="about">
        <p>
            Hej dette er hjemmeside om madspild. Madspild er rigtig dårligt.
        </p>
    </section>

    <section class="details" id="consumer">
        <h2>
            Forbrugere
        </h2>
        <p>
           Det her er noget kort tekst som skal gøre folk interesseret
        </p>
        <nav>
            <ul>
                <li><a href="consumer">Forbrugere</a></li>
            </ul>
        </nav>
    </section>

    <section class="details" id="company">
        <h2>
            Virksomheder
        </h2>
        <p>
            Det her er noget kort tekst som skal gøre folk interesseret
        </p>
        <nav>
            <ul>
                <li><a href="company">Virksomhed</a></li>
            </ul>
        </nav>
    </section>

    <section class="details" id="organisation">
        <h2>
            Organisation
        </h2>
        <p>
            Det her er noget kort tekst som skal gøre folk interesseret
        </p>
        <nav>
            <ul>
                <li><a href="organisation">Organisation</a></li>
            </ul>
        </nav>
    </section>


    <hr>
    <footer>
        <nav>
            <a href="index">Home</a>
            <a href="form">Skriv et opslag</a>
            <a href="dashboard">opslagstavlen</a>
        </nav>
        <hr>  <!-- Defines a thematic change in the content -->
        <div>  <!-- 	Defines a section in a document -->
            <p align="center">••••• Copyright ☺ 2021 All rights reserved - Mathias • Jesper • Robert •••••</p>
        </div>
    </footer>

</body>
</html>