<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <meta charset="UTF-8">
    <title>For Mad'Resten</title>
</head>

<header class="header">
    <h1>
        For Mad'Resten!
    </h1>
    <h3>Frontlinien i kampen mod madspild..</h3>
    <hr>
    <nav>
        <a href="index">Home</a>
        <a href="form">Skriv et opslag</a>
        <a href="dashboard">Opslagstavlen</a>
    </nav>
    <hr>
</header>
<body class="body">
<div class="flex-box">
    <p>
        For Mad'Resten - er et samlingssted hvor private, såvel som firmaer og velgørende organisationer.
        Kan finde inspiration, udveksle ideer og komme med konkrete forslag til måder hvorpå man kan minimere
        det, alt for store madspild. Som desværre har stået på alt for længe...
    </p>
</div>
<div class="flex-box2">
    <section class="consumer-section">
        <h4>
            Forbrugeren.
        </h4>
        <p>
            Hvordan kan du bidrage som privat forbruger.?
        </p>
        <nav>
            <a href="consumer"><img src="img/familypicture.jpg" height="120px" width="200px" alt="pic of family shopping"></a>
        </nav>
    </section>

    <section class="company-section">
        <h4>
            Virksomheder
        </h4>
        <p>
            Hvordan kan din virksomhed bidrage.?
        </p>
        <nav>
            <a href="company"><img  height="120px" width="200px" src="../img/businesspicture.jpg" alt="restaurant/kitchen pic"/></a>
        </nav>
    </section>
    <section class="organisation-section">
        <h4>
            Organisationer
        </h4>
        <p>
            Hvordan kan jeres organisation bidrage?
        </p>
        <nav>
            <a href="organisation">
                <img height=height="120px" width="200px" src="../img/donationpicture.jpg"
                     alt="help organisation pic"/></a>
        </nav>
    </section>
</div>
<footer id="foot">
    <hr>
    <nav>
        <a href="index">Home</a>
        <a href="form">Skriv et opslag</a>
        <a href="dashboard">Opslagstavlen</a>
    </nav>
    <hr>

    <div id="foot-text">
        <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert •  •</p>
    </div>
</footer>
</body>
</main>

</html>