<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>
        Organisation
    </h1>
    <nav>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="forbruger">Forbrugeren</a></li>
            <li><a href="virksomhed">Organisation</a></li>
            <li><a href="organisation">Virksomhed</a></li>
        </ul>
    </nav>
</header>













<footer>
    <nav>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="forbruger">Forbrugeren</a></li>
            <li><a href="virksomhed">Organisation</a></li>
            <li><a href="organisation">Virksomhed</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>