<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <title>Organisationer</title>
</head>
<body class="organisation">
    <header>
        <h1>For Mad'Resten</h1>
        <nav>
            <a href="index">Home</a>
            <a href="form">Skriv et opslag</a>
            <a href="dashboard">opslagstavlen</a>
        </nav>
        <hr>
        <h2>Organisationer</h2>
    </header>
    <hr>
    <footer class="footer">
        <hr>
        <nav class="footer-nav">
            <a href="index">Home</a>
            <a href="form">Skriv et opslag</a>
            <a href="dashboard">Opslagstavlen</a>
        </nav>
        <hr>
        <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert •  •</p>
    </footer>
</body>
</html>