<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Succes</title>
</head>
<body>
<header>
    <h1>For Mad'Resten</h1>
    <nav>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="form">Skriv et opslag</a></li>
            <li><a href="opslagstavlen">opslagstavlen</a></li>
        </ul>
    </nav>
    <hr>

    <h2>Succes☺</h2>
    <p>Deres forslag er kommet på opslagstavlen.</p>
</header>
    <section id="dashboardposts">
        <p th:text="${dashboardposts.getFirstname()}"></p>
        <p th:text="${dashboardposts.getLastname()}"></p>
        <p th:text="${dashboardposts.getEmail()}"></p>
        <p th:text="${dashboardposts.getDate()}"></p>
        <p th:text="${dashboardposts.getPostname()}"></p>
        <p th:text="${dashboardposts.getPostarea()}"></p>
    </section>








<hr>
<footer>
    <nav>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="form">Skriv et opslag</a></li>
            <li><a href="opslagstavlen">opslagstavlen</a></li>
        </ul>
    </nav>
    <hr>  <!-- Defines a thematic change in the content -->
    <div>  <!-- 	Defines a section in a document -->
        <p align="center">Copyright ☺ (c) ☺ 2021 All rights reserved. Mathias - Jesper - Robert.</p>
    </div>
</footer>
</body>
</html>