<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="stylesheet/style.css">
    <meta charset="UTF-8">
    <title>Succes</title>
</head>



<body>
<header>
    <h1>
        For Mad'Resten
    </h1>
        <nav>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="form">Skriv et opslag</a></li>
                <li><a href="dashboard">opslagstavlen</a></li>
            </ul>
        </nav>
    <hr>
    <div id="succestext">
        <h2>Succes☺</h2>
        <h3>Deres forslag er kommet på opslagstavlen.</h3>
    </div>
</header>
    <section id="submitformsucces">
        <p th:text="${'Fornavn: ' + dashboard.getFirstname()}"></p>
        <p th:text="${'Efternavn: ' + dashboard.getLastname()}"></p>
        <p th:text="${'Email adresse: ' + dashboard.getEmail()}"></p>
        <p th:text="${'Dato for opslag: ' + dashboard.getDate()}"></p>
        <p th:text="${'Overskrift: ' + dashboard.getPostname()}"></p>
        <p th:text="${'Forslag: ' + dashboard.getPostarea()}"></p>
    </section>

<footer id="foot">
    <hr>
    <nav>
        <a href="index">Home</a>
        <a href="form">Skriv et opslag</a>
        <a href="dashboard">Opslagstavlen</a>
    </nav>
    <hr>

    <div id="foot-text">
        <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert •  •</p>
    </div>
</footer>
</body>
</html>