
/*--- Main Body Start ---*/

body{
    /*background-image: url("../img/formanresten1.jpg");*/
    /*background-image: url("../img/formadresten2.jpg");*/
    /*background-image: url("../img/formadresten3.jpg");*/
    /*background-image: url("../img/formasresten4.jpg");*/
    background-image: url("../img/formadresten5.jpg");
    padding: 100px 100px;
    margin: 25px;
    background-size: cover;
    background-position: center;
    color: whitesmoke;


}



.flex-container{
    display:inline-flex;
}

.nav ul {
    display:inline;
}

/*--- Main Body Slut  ---*/

/*------------------------------------------------------------------------*/

/*--- index Start ---*/


/*--- index  Slut ---*/

/*------------------------------------------------------------------------*/

/*--- Form Start ---*/


/*--- form Slut ---*/

/*------------------------------------------------------------------------*/

/*--- Succes Start ---*/


/*--- Succes Slut ---*/

/*------------------------------------------------------------------------*/


/*--- Error Start ---*/


/*--- Error Slut ---*/


/*------------------------------------------------------------------------*/

/*--- Dashboard  Start ---*/


/*--- Dashboard  Slut ---*/

/*------------------------------------------------------------------------*/

/*--- Comsumer Start ---*/


/*--- Comsumer Slut ---*/


/*------------------------------------------------------------------------*/


/*--- Company Start ---*/


/*--- Company Slut ---*/

/*------------------------------------------------------------------------*/


/*--- Organisation Start ---*/


/*--- Organisation Slut ---*/





