
/*--- Main Body Start ---*/

body{
    background-image: url("../img/formanresten1.jpg");
    padding: 100px 100px;
    margin: 25px;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

header {
<!-- for the top block -->
    width: 100%;
    display: block;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
}

















footer {
    display: inline-block;
    float: bottom;
    width: 100%;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav a{
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
}





/*--- Main Body Slut  ---*/


/*------------------------------------------------------------------------*/

/*--- index Start ---*/


/*--- index  Slut ---*/

/*------------------------------------------------------------------------*/

/*--- Form Start ---*/


/*--- form Slut ---*/

/*------------------------------------------------------------------------*/

/*--- Succes Start ---*/


/*--- Succes Slut ---*/

/*------------------------------------------------------------------------*/


/*--- Error Start ---*/

#error{
    background-image: url("../img/funny-3d-wallpaper-6.jpg");
    padding: 300px 100px;
    margin: 20px;
    background-size: cover;
    background-position: center;
    color: black;
}


/*--- Error Slut ---*/


/*------------------------------------------------------------------------*/

/*--- Dashboard  Start ---*/


/*--- Dashboard  Slut ---*/

/*------------------------------------------------------------------------*/

/*--- Comsumer Start ---*/


/*--- Comsumer Slut ---*/


/*------------------------------------------------------------------------*/


/*--- Company Start ---*/


/*--- Company Slut ---*/

/*------------------------------------------------------------------------*/


/*--- Organisation Start ---*/


/*--- Organisation Slut ---*/





/*
.flex-container{
    display:inline-flex;
}

.nav ul {
    display:inline;
}
*/

/*
header nav a:hover {
    color: snow;
    background-color: black;
 */

/*
footer{
    width: 100%;
    display: block;
}
*/

